
<header class="full_bg">
  <!-- header inner -->
  <div class="header">
     <div class="container-fluid">
        <div class="row d_flex">
           <div class=" col-md-2 col-sm-3 col logo_section">
              <div class="full">
                 <div class="center-desk">
                    <div class="logo">
                       <a href="index.html"><img src="images/logo.png" alt="#" /></a>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-10 col-sm-9">
              <ul class="site_menu text_align_right">
                 <li >
                    <button class="openbtn" onclick="openNav()"><img src="images/menu_icon.png"></button>
                 </li>
              </ul>
           </div>
        </div>
     </div>
  </div>
  <!-- end header inner -->
  <!-- end header -->
  <section class="banner_main">
     <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
        <ol class="carousel-indicators">
           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           <li data-target="#myCarousel" data-slide-to="1"></li>
           <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <% hero.forEach((el,index) => { %>
            
           <div class="carousel-item <%- index==0? "active" : "" %>">
              <div class="container">
                 <div class="carousel-caption  banner_po">
                    <div class="row">
                       <div class="col-md-8">
                          <div class="build_box text_align_left">
                             <h1><%= el.subtitle%><br> <span class="white"><%- el.title%></span></h1>
                             <p><%- el.description%></p>
                             <a class="read_more conatct_btn" href="#contact" role="button">Contact now</a>
                             <a class="read_more conatct_btn" href="#about" role="button">About Factory</a>
                          </div>
                       </div>
                    </div>
                    <strong>best</strong>
                 </div>
              </div>
           </div>
          <%}); %>
           
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
        </a>
     </div>
  </section>
</header>