<!-- loader  -->
<div class="loader_bg">
  <div class="loader"><img src="images/loading.gif" alt="#"/></div>
</div>
<!-- end loader -->
<div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a class="active" href="index.html">Home</a>
  <a href="#about">About</a>
  <a href="#product">Products</a>
  <a href="#contact">Contact</a>
</div>