<!DOCTYPE html>
<html lang="en">
  <%- include("base/head") %>
  <!-- body -->
  <body>
    <!--navbar start-->
    <%- include("base/nav") %>
    <!--navbar end-->
    <%- body  -%>
    <!-- scripts -->
    <%- include("../../base/bootstrapScripts") %>
  </body>
</html>
